.gravatar-card-outer {
    display: inline-block;
}

.gravatar-card-name {
    font-size: 1.5em;
    color: #ffffff;
    font-weight:600;
    text-align: center;
}

.gravatar-card-icon {
    margin-bottom: initial !important;
    padding-left: 1em;
    height: 6em;
    width: 7em;
}
.gravatar-card-outer {
    padding: 15px 0;
    margin: 15px;
    border-radius: 1em;
    background: #202a30;
    box-shadow: 0.2em 0.2em 0.2em;
    display: flex;
}

.gravatar-card-button {
    width: 100%;
}

.gravatar-text-area {
    width: 100%;
}